*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'roboto';
    overflow: hidden;
}

input {
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    text-align: center;
    padding: 4px;

}

.container{
    background-image: url('./assets/bg.jpeg');
    width: 100%;
    position: absolute;
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#title {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    font-family: 'comback home';
}

#web1{
    position: absolute;
    top: -26vh;
    left: -16vw;
}

#web2 {
    filter: invert(1);
    position: absolute;
    top: -17vh;
    right: -12vw;
    overflow-x: hidden;
}

#web3 {
    filter: invert(1);
    position: absolute;
    z-index: 1;
    bottom: -8vh;
    right: 30vw;
    overflow-x: hidden;
}

#spiderman{
    position: absolute;
    height: 100vh;
    top: 0px;
    left: 3.9vw;

}

.wrapper {
    margin-left: 23vw;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

.top-wrapper{
    display: flex;
    flex-direction: row;
    margin: 4%;
}

.total-budget {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.expense-name{
    margin: 10px;
}

.budget-show{
    margin: 8px;
}
.expenditure{
    margin: 8px;
}
.balance{
    margin: 8px;
}



.input-btn1{
    margin-left:23% ;
    width: 60%;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #DF1F2D;
    border: transparent;
}

.budget-display{
    margin: 10px;
    font-weight: bold;
}

.input {
    display: flex;
    flex-direction: column;

}

.category {
    display: flex;
    margin-left: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.amount {
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.date {
    display: flex;
    margin: 8px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#input-btn{
    margin-left:23% ;
    width: 60%;
    font-size: 14px;
    padding: 5px;
    font-weight: bold;
    border-radius: 10px;
    background-color: #DF1F2D;
    border: transparent;
}


.expense-list{
    z-index: 100;
    margin-left: 5vw;
    padding: 10px;
    box-shadow:0 15px 35px rgba(0,0,0,0.5);
    border-radius:10px;
    background: rgba(255,255,255,0.05);
    backdrop-filter:blur(6px);
    overflow:hidden;
    
}

.table{
    margin: 20px;
}

table {
    border-collapse: collapse;
    margin: 10px;
}
th{
    border: 1px solid black;
    margin: 10px;
    padding: 8px;
    text-align: left;
    background-color: red; 
    color: black;
}




/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}

body{
    background-image: url('./assets/bg.jpeg');
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
   
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    
}
.wrapper{
    margin: 20px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-left: 30vw;
    padding: 1rem;
}
#title{
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Comback home';
}

#spiderman{
    position: absolute;
    height: 100vh;
    top: 0px;
    left: 3.9vw;

}

#web2{
    position: absolute;
    filter: invert(1);
    top: -15vh;
    right: -8vw;
}

#web1{
    position: absolute;
    top: -23vh;
    left: -14.4vw;
}

input {
    border: 2px solid white;
    background-color: transparent;
    color: white;
}

.input{
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}
.amount{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
}
.date{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:18px ;
}

.expense-date{
    width: 61%;
}


#input-btn{
    background-color: #DF1F2D;
    border-radius: 10px;
    font-size: 18px;
    font-family: monospace;
    padding: 10px;
    text-align: center;
    margin: 5px;
    
}


.expense-list{
    margin-left: 5vw;
    margin-top: 20px;
    padding: 10px;
    box-shadow:0 15px 35px rgba(0,0,0,0.5);
    border-radius:10px;
    background: rgba(255,255,255,0.05);
    backdrop-filter:blur(10px);
    overflow:hidden;
    
}

.table{
    margin: 10px;
}

table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
   background-color: red; 
   color: black;
}

tfoot td{
    font-weight: bold;
}

.delete-btn{
    padding: 5px 10px;
    background-color: #f44336;
    color: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

 */